<div style="width:100%;overflow:hidden;">
  <div nz-row [nzGutter]="24" class="pannle-body">
   <div nz-col [nzSpan]="24">
      
    <nz-card [nzLoading]="loading">
      <ng-template #title>
        新增新员工
      </ng-template>
      <ng-template #extra>
        <button nz-button [nzType]="'primary'">
          <a [routerLink]="['/pages/staff-manage/addstaff']"><i class="anticon anticon-plus-circle-o"></i><span>{{'staff.button.add'|translate}}</span></a>
        </button>
      </ng-template>
      <ng-template #body>

          <!-- "addStaff":{
            "userName":"姓名",
            "account":"账号",
            "gender":"性别",
            "email":"邮箱",
            "mobile":"手机号",
            "emergencyContacter":"紧急联系人",
            "emergencyContacterMobile":"紧急联系人手机号",
            "department":"部门",
            "position":"职位",
            "leader":"直属领导",
            "age":"年龄",
            "identityId":"身份证号",
            "identityFront":"正面",
            "identityBack":"反面",
            "address":"联系地址"
        } -->
          <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
                <!--头像-->
                <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>{{'staff.addStaff.avatar'|translate}}</label>
                  </div>
                  <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                    <img class="avatar" src="{{fullheadImg||'/assets/images/kaola.jpg'}}" width="100%" alt="" >
                    <!-- <button class="uploadBtn" nz-button [nzType]="'dashed'" [nzSize]="size" (click)="uploadClick($event,uploaderFileInput)">
                      <i class="anticon anticon-upload"></i><span>Upload</span>
                    </button> -->
                    <div class="uploadBtn" (click)="uploadClick($event,uploaderFileInput)"><i class="anticon anticon-upload"></i><span>Upload</span></div>
                    <input #uploaderFileInput class="uploadfile hidden" type="file" (change)="uploadChangeImage($event)">
                    <nz-input style="display:none;" formControlName="avatar" [(ngModel)]="headImg" [nzType]="'text'" [nzSize]="'large'">
                    </nz-input>
                    <!-- <div nz-form-explain *ngIf="getFormControl('account').dirty&&getFormControl('account').hasError('required')">Please input english words!</div>
                    <div nz-form-explain *ngIf="getFormControl('account').dirty&&getFormControl('account').hasError('duplicated')">The username is redundant!</div>
                    <div nz-form-explain *ngIf="getFormControl('account').dirty&&getFormControl('account').pending">Validating...</div> -->
                  </div>
                </div>

                <div nz-form-item nz-row>
                <!--用户名-->
                <div nz-form-label nz-col [nzSpan]="7">
                  <label nz-form-item-required>{{'staff.addStaff.userName'|translate}}</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                  <nz-input formControlName="userName" [nzType]="'text'" [nzSize]="'large'">
                  </nz-input>
                  <div nz-form-explain *ngIf="getFormControl('userName').dirty&&getFormControl('userName').hasError('required')">Please input your username!</div>
                  <div nz-form-explain *ngIf="getFormControl('userName').dirty&&getFormControl('userName').hasError('duplicated')">The username is redundant!</div>
                  <div nz-form-explain *ngIf="getFormControl('userName').dirty&&getFormControl('userName').pending">Validating...</div>
                </div>
              </div>
              <!--账号-->
              <!-- <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="7">
                  <label nz-form-item-required>{{'staff.addStaff.account'|translate}}</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                  <nz-input formControlName="account" [nzType]="'text'" [nzSize]="'large'">
                  </nz-input>
                  <div nz-form-explain *ngIf="getFormControl('account').dirty&&getFormControl('account').hasError('required')">Please input english words!</div>
                  <div nz-form-explain *ngIf="getFormControl('account').dirty&&getFormControl('account').hasError('duplicated')">The username is redundant!</div>
                  <div nz-form-explain *ngIf="getFormControl('account').dirty&&getFormControl('account').pending">Validating...</div>
                </div>
              </div> -->

              <!--性别-->
              <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>{{'staff.addStaff.gender'|translate}}</label>
                  </div>
                  <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                      <nz-radio-group formControlName="gender">
                        <label nz-radio [nzValue]="1">
                          <span>男</span>
                        </label>
                        <label nz-radio [nzValue]="2">
                          <span>女</span>
                        </label>
                      </nz-radio-group>
                  </div>
                </div>
              
              <!--email-->
              <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="7">
                  <label nz-form-item-required>{{'staff.addStaff.email'|translate}}</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                  <nz-input formControlName="email" [nzPlaceHolder]="'email'" [nzType]="'email'" [nzSize]="'large'">
                  </nz-input>
                  <div nz-form-explain *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('email')">The input is not valid E-mail!</div>
                  <div nz-form-explain *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('required')">Please input your E-mail!</div>
                </div>
              </div>
              <!--手机号-->
              <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>{{'staff.addStaff.mobile'|translate}}</label>
                  </div>
                  <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                    <nz-input formControlName="phoneNumber" [nzPlaceHolder]="'mobile'" [nzType]="'text'" [nzSize]="'large'">
                    </nz-input>
                    <div nz-form-explain *ngIf="getFormControl('phoneNumber').dirty&&getFormControl('phoneNumber').hasError('number')">The input is not valid E-mail!</div>
                    <div nz-form-explain *ngIf="getFormControl('phoneNumber').dirty&&getFormControl('phoneNumber').hasError('required')">Please input your E-mail!</div>
                  </div>
                </div>
              <!--紧急联系人-->
              <div nz-form-item nz-row>
                  <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>{{'staff.addStaff.emergencyContacterMobile'|translate}}</label>
                  </div>
                  <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                    <nz-input formControlName="emergencyContacterPhoneNumber" [nzType]="'text'" [nzSize]="'large'">
                    </nz-input>
                  </div>
                </div>
              <!--生日-->
              <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="7">
                  <label nz-form-item-required>{{'staff.addStaff.birthday'|translate}}</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control>
                  <nz-datepicker formControlName="birthDay" [nzSize]="'large'" [nzPlaceHolder]="'Choose your birthday'" style="width: 100%;"></nz-datepicker>
                  <div nz-form-explain *ngIf="getFormControl('birthDay').dirty&&getFormControl('birthDay').hasError('required')">Please input your birthday!</div>
                  <div nz-form-explain *ngIf="getFormControl('birthDay').dirty&&getFormControl('birthDay').hasError('expired')">Birthday must less than today!</div>
                </div>
              </div>
              <!--部门-->
              <div nz-form-item nz-row>
                <div nz-col [nzSpan]="7" nz-form-label>
                  <label nz-form-item-required>{{'staff.addStaff.department'|translate}}</label>
                </div>
                <div>
                  <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                      <nz-select
                      nzAllowClear
                      [nzPlaceHolder]="'Select department'"
                      formControlName="departmentId"
                      nzShowSearch>
                      <nz-option
                        *ngFor="let option of departments"
                        [nzLabel]="option.departmentName"
                        [nzValue]="option.departmentId"
                        [nzDisabled]="option.disabled">
                      </nz-option>
                    </nz-select>
                  </div>
                </div>
              </div>
              <!--职位-->
              <div nz-form-item nz-row>
                  <div nz-col [nzSpan]="7" nz-form-label>
                    <label nz-form-item-required>{{'staff.addStaff.position'|translate}}</label>
                  </div>
                  <div>
                    <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
                        <nz-select
                        nzAllowClear
                        [nzPlaceHolder]="'Select position'"
                        formControlName="positionId"
                        nzShowSearch>
                        <nz-option
                          *ngFor="let option of positions"
                          [nzLabel]="option.positionName"
                          [nzValue]="option.positionId"
                          [nzDisabled]="option.disabled">
                        </nz-option>
                      </nz-select>
                    </div>
                  </div>
                </div>
              <div nz-form-item nz-row>
                <div nz-col [nzOffset]="7" [nzSpan]="12" nz-form-control>
                  <button nz-button [nzType]="'primary'" [nzSize]="'large'">Submit</button>
                  <button nz-button [nzSize]="'large'" (click)="resetForm($event)">Reset</button>
                </div>
              </div>
            </form>
      </ng-template>
    </nz-card>

    </div>
  </div>
</div>
