<nz-card class="zpy-edit">
    <ng-template #title>
      {{Data.title}}
    </ng-template>
    <ng-template #extra>
      <a (click)="closeEvent($event)"><i class="anticon anticon-close"></i></a>
    </ng-template>
    <ng-template #body>
        <div nz-row class="row">
          <div nz-col [nzSpan]="8">
            <span *ngIf="Data.type==='department'">{{'department.pannle.departmentName'|translate}}</span>
            <span *ngIf="Data.type==='position'">{{'position.pannle.positionName'|translate}}</span>
          </div>
          <div nz-col [nzSpan]="16">
              <nz-input [(ngModel)]="Data[Data.type+'Name']" [nzPlaceHolder]="'Basic usage'"></nz-input>
          </div>
        </div>
        <div nz-row class="row" *ngIf="Data.type==='department'">
            <div nz-col [nzSpan]="8">
              {{'department.pannle.leader'|translate}}
            </div>
            <div nz-col [nzSpan]="16">
                <!-- <nz-input [(ngModel)]="Data.director" [nzPlaceHolder]="'Basic usage'"></nz-input> -->
                <nz-select
                  style="width: 100%"
                  nzAllowClear
                  [nzPlaceHolder]="'Select a person'"
                  [(ngModel)]="userSelect"
                  nzShowSearch>
                  <nz-option
                    *ngFor="let option of userList"
                    [nzLabel]="option.label"
                    [nzValue]="option.value"
                    [nzDisabled]="option.disabled">
                  </nz-option>
                </nz-select>
            </div>
          </div>
        <button nz-button [nzType]="'primary'" style="margin-top:10px;width:100%;" (click)="Data.submit()">
            <span>{{'public.button.submit'|translate}}</span>
        </button>
    </ng-template>
    
  </nz-card>